:root {
    --main-color: #AE7C78;
    --hover-color: #D89999;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/subset-Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat/subset-Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/subset-Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat/subset-Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/subset-Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/subset-Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/subset-PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/subset-PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/subset-PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/subset-PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/subset-PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/subset-PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay/subset-PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay/subset-PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    color: var(--main-color);
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

h1,.h1,
h2,.h2,
h3,.h3 {
    font-family: 'PlayfairDisplay', 'Times New Roman', serif;
}

a {
    color: var(--main-color);
    transition: color 0.3s;
}

a:hover,
a:focus {
    color: var(--hover-color);
}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    flex-shrink: 0;
    margin-top: 26px;
    position: relative;
}

.main-menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu__link {
    align-items: center;
    color: var(--main-color);
    display: flex;
    min-height: 64px;
    text-decoration: none;
}

.main-menu__link:hover,
.main-menu__link:focus {
    text-decoration: underline;
}

.page-content {
    flex: 1 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.socials {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link {
    align-items: center;
    color: var(--main-color);
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.socials__link:hover svg,
.socials__link:focus svg {
    fill: #FFDCDC
}

.socials__link--white {
    color: #fff;
}

.socials__link svg {
    fill: var(--main-color);
    height: 26px;
    pointer-events: none;
    transition: fill 0.3s;
    width: 26px;
}

.socials__link--white svg {
    fill: #fff;
}

.footer {
    background-color: var(--main-color);
    color: #fff;
    flex-shrink: 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 40px;
}

.footer__logo {
    margin-right: 105px;
}

.footer__logo + .footer__socials {
    margin-left: auto;
}

.footer__menu {
    flex-grow: 1;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu__item {
    display: flex;
}

.footer-menu__link {
    align-items: center;
    color: #fff;
    display: flex;
    text-decoration: none;
}

.footer-menu__link:hover,
.footer-menu__link:focus {
    color: #fff;
    text-decoration: underline;
}

.footer__socials {
    margin-left: 105px;
}